<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–í—Å–µ-–∑–∞–¥–∞–Ω–∏—è-–Ω—É–∂–Ω–æ-–≤—ã–ø–æ–ª–Ω–∏—Ç—å-—Ç–æ–ª—å–∫–æ-—Å-–ø–æ–º–æ—â—å—é-sql" data-toc-modified-id="–í—Å–µ-–∑–∞–¥–∞–Ω–∏—è-–Ω—É–∂–Ω–æ-–≤—ã–ø–æ–ª–Ω–∏—Ç—å-—Ç–æ–ª—å–∫–æ-—Å-–ø–æ–º–æ—â—å—é-sql-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql</a></span></li></ul></div>

In [77]:
import sqlite3
import pandas as pd

sqlite3.sqlite_version

'3.30.0'

In [78]:
con = sqlite3.connect(':memory:')

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [79]:
data = pd.read_csv('./csv_for_sql/boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [80]:
data.to_sql('boston', con, index=False, if_exists='replace')

In [146]:
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [82]:
tasks = 0

### –í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql

1. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [83]:
tasks+=1
pd.read_sql(
    '''
    with CHECK_EMPTY as (
        SELECT 
            case when CRIM is null then 1 else 0 end as CRIM
            , case when ZN is null then 1 else 0 end as ZN
            , case when  INDUS is null then 1 else 0 end as INDUS
            , case when CHAS is null then 1 else 0 end as CHAS
            , case when NOX is null then 1 else 0 end as NOX
        FROM boston)
    select 
        sum(CRIM) CRIM
        , sum(ZN) ZN
        , sum(INDUS) INDUS
        , sum(CHAS) CHAS
        , sum(NOX) NOX
    from CHECK_EMPTY
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0     0   0      0     0    0

2. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–æ–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [84]:
tasks+=1
pd.read_sql(
    '''
        SELECT 
           count(distinct(CRIM)) as CRIM
           , count(distinct(ZN)) as ZN
           , count(distinct(INDUS)) as INDUS
           , count(distinct(CHAS)) as CHAS
           , count(distinct(NOX)) as NOX
        FROM boston
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0   504  26     76     2   81

3. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX.
–ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ –¥–∞–Ω–Ω—ã–º –≤ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö

In [145]:
tasks+=1
pd.read_sql(
    '''
    with medians as (
        SELECT 'CRIM' as COLUMN_NAME, AVG(CRIM) as median_value
        FROM (
                SELECT CRIM
                FROM boston
                ORDER BY CRIM
                LIMIT 2 - (SELECT COUNT(*) FROM boston) % 2
                OFFSET (SELECT (COUNT(*) - 1) / 2 FROM boston))
        UNION ALL
        SELECT 'ZN' as COLUMN_NAME, AVG(ZN) as median_value
        FROM (
                SELECT ZN
                FROM boston
                ORDER BY ZN
                LIMIT 2 - (SELECT COUNT(*) FROM boston) % 2
                OFFSET (SELECT (COUNT(*) - 1) / 2 FROM boston))
        UNION ALL
        SELECT 'INDUS' as COLUMN_NAME, AVG(INDUS) as median_value
        FROM (
                SELECT INDUS
                FROM boston
                ORDER BY INDUS
                LIMIT 2 - (SELECT COUNT(*) FROM boston) % 2
                OFFSET (SELECT (COUNT(*) - 1) / 2 FROM boston))
        UNION ALL
        SELECT 'CHAS' as COLUMN_NAME, AVG(CHAS) as median_value
        FROM (
                SELECT CHAS
                FROM boston
                ORDER BY CHAS
                LIMIT 2 - (SELECT COUNT(*) FROM boston) % 2
                OFFSET (SELECT (COUNT(*) - 1) / 2 FROM boston))
        UNION ALL
        SELECT 'NOX' as COLUMN_NAME, AVG(NOX) as median_value
        FROM (
                SELECT NOX
                FROM boston
                ORDER BY NOX
                LIMIT 2 - (SELECT COUNT(*) FROM boston) % 2
                OFFSET (SELECT (COUNT(*) - 1) / 2 FROM boston)))
    , mins as(
        SELECT distinct
               'CRIM' as COLUMN_NAME
                , min(CRIM) OVER() as min_value
        FROM boston b
        UNION ALL
        SELECT distinct
               'ZN' as COLUMN_NAME
                , min(ZN) OVER() as min_value
                FROM boston b
        UNION ALL
        SELECT distinct
               'INDUS' as COLUMN_NAME                
                , min(INDUS) OVER() as min_value
                FROM boston b
        UNION ALL
        SELECT distinct
               'CHAS' as COLUMN_NAME
                , min(CHAS) OVER() as min_value
                FROM boston b
        UNION ALL
        SELECT distinct
               'NOX' as COLUMN_NAME
                , min(NOX) OVER() as min_value
        FROM boston b 
    )
    
    SELECT distinct
           mins.COLUMN_NAME
            , mins.min_value
            , medians.median_value
    FROM mins  
        join medians on medians.COLUMN_NAME=mins.COLUMN_NAME
    where min_value=median_value
        
    ''',
    con,
)

  COLUMN_NAME  min_value  median_value
0          ZN        0.0           0.0
1        CHAS        0.0           0.0

–í—ã–≤–æ–¥—ã: 

–ù–µ –º–µ–Ω–µ–µ —á–µ–º –≤ –ø–æ–ª–æ–≤–∏–Ω–µ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º—ã—Ö –∫–µ–π—Å–æ–≤ –¥–æ–ª—è –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –Ω–µ –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–∞ –ø–æ–¥ —É—á–∞—Å—Ç–∫–∏ –ø–ª–æ—â–∞–¥—å—é –±–æ–ª–µ–µ 25 000 –∫–≤. —Ñ—É—Ç–æ–≤.

–ù–µ –º–µ–Ω–µ–µ —á–µ–º –≤ –ø–æ–ª–æ–≤–∏–Ω–µ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º—ã—Ö –∫–µ–π—Å–æ–≤ —É—á–∞—Å—Ç–∫–∏ –Ω–µ –≥—Ä–∞–Ω–∏—á–∞—Ç —Å —Ä–µ–∫–æ–π.

4. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∫–æ–º–Ω–∞—Ç(RM) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é(MEDV) –∏ 25 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. 
–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –ø–æ 50, 100, 200, 300 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. (–∫–æ–ª-–≤–æ –¥–æ–º–æ–≤(25,50,100,200,300), —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –Ω–∏—Ö, —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö, —Ä–∞–∑–Ω–∏—Ü–∞).
–ù–∞–ø–∏—à–∏—Ç–µ –≤–ª–∏—è–µ—Ç –ª–∏ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∏ –∫–∞–∫ —Å–∏–ª—å–Ω–æ.

In [167]:
pd.read_sql(
    '''
    select avg(RM) FROM boston where MEDV =(SELECT MAX(MEDV) over() FROM boston)
    ''',
    con,
)

   avg(RM)
0    7.484

In [166]:
tasks+=1
pd.read_sql(
    '''
   -- select avg(RM)
   -- FROM boston 
   -- where MEDV =(SELECT MAX(MEDV) over() FROM boston)
    select 
        MEDV
        , RM
        , avg(RM) over(ORDER BY MEDV RANGE CURRENT ROW) as AVG_RM_MAX
    FROM boston 

    ''',
    con,
)

     MEDV     RM  AVG_RM_MAX
0     5.0  5.453      5.5680
1     5.0  5.683      5.5680
2     5.6  5.987      5.9870
3     6.3  5.852      5.8520
4     7.0  4.519      4.9665
..    ...    ...         ...
501  50.0  4.970      7.4840
502  50.0  6.683      7.4840
503  50.0  7.016      7.4840
504  50.0  6.216      7.4840
505  50.0  5.875      7.4840

[506 rows x 3 columns]

5. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–Ω–≥–∏ –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ–ª–æ–Ω–∫–∏ LSTAT(–ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é (–∑–Ω–∞—á–µ–Ω–∏–µ LSTAT, —Å—Ç–æ–∏–º–æ—Å—Ç—å, —Ä–∞–Ω–≥) —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∑–Ω–∞—á–µ–Ω–∏–π LSTAT. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

6. –í—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≥—Ä–∞–Ω–∏—á–∞—â–∏—Ö —Å —Ä–µ–∫–æ–π(CHAS) –∏ –Ω–µ—Ç (–≥—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç, —Å—Ç–æ–∏–º–æ—Å—Ç—å)

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

7. –í—ã–≤–µ–¥–∏—Ç–µ –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—à–µ, –∫–æ–≥–¥–∞ –¥–æ–º –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

8. –í—ã–≤–µ–¥–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–µ–π –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏(INDUS), –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞(NOX) –∏ –ø–æ –∏—Ö –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—è–º - 10, 20 ... 100 ( –ø–µ—Ä—Ü–µ—Ç–∏–ª—å(10,20...100),–∑–Ω–∞—á–µ–Ω–∏–µ INDUS, –∑–Ω–∞—á–µ–Ω–∏–µ NOX). –ù–∞–ø–∏—à–∏—Ç–µ –ø—Ä–æ—Å–ª–µ–∂–∏–≤–∞–µ—Ç—Å—è –º–µ–∂–¥—É –Ω–∏–º–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å

In [ ]:
tasks+=1
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

CRIM - —É—Ä–æ–≤–µ–Ω—å –ø—Ä–µ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –Ω–∞ –¥—É—à—É –Ω–∞—Å–µ–ª–µ–Ω–∏—è
ZN - –¥–æ–ª—è –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–∞ –ø–æ–¥ —É—á–∞—Å—Ç–∫–∏ –ø–ª–æ—â–∞–¥—å—é –±–æ–ª–µ–µ 25 000 –∫–≤. —Ñ—É—Ç–æ–≤.
INDUS - –¥–æ–ª—è –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥.
CHAS - 1, –µ—Å–ª–∏ –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π, 0 –∏–Ω–∞—á–µ
NOX - –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ (—á–∞—Å—Ç–µ–π –Ω–∞ 10 –º–∏–ª–ª–∏–æ–Ω–æ–≤)
RM - —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –∫–≤–∞—Ä—Ç–∏—Ä–µ
AGE - –¥–æ–ª—è –∂–∏–ª—ã—Ö –¥–æ–º–æ–≤, –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω—ã—Ö –¥–æ 1940 –≥.
DIS - –≤–∑–≤–µ—à–µ–Ω–Ω—ã–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è –¥–æ –ø—è—Ç–∏ —Ü–µ–Ω—Ç—Ä–æ–≤ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –ë–æ—Å—Ç–æ–Ω–∞
RAD - –∏–Ω–¥–µ–∫—Å –¥–æ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –∫ —Ä–∞–¥–∏–∞–ª—å–Ω—ã–º –º–∞–≥–∏—Å—Ç—Ä–∞–ª—è–º
TAX - –ø–æ–ª–Ω–∞—è —Å—Ç–∞–≤–∫–∞ –Ω–∞–ª–æ–≥–∞ –Ω–∞ –∏–º—É—â–µ—Å—Ç–≤–æ –∑–∞ 10 000 –¥–æ–ª–ª–∞—Ä–æ–≤ –°–®–ê
PTRATIO - —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ —É—á–µ–Ω–∏–∫–æ–≤ –∏ —É—á–∏—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
B - 1000(Bk - 0.63)^2, –≥–¥–µ Bk –¥–æ–ª—è —á–µ—Ä–Ω–æ–∫–æ–∂–∏—Ö –ª—é–¥–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
LSTAT - % –±–æ–ª–µ–µ –Ω–∏–∑–∫–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –Ω–∞—Å–µ–ª–µ–Ω–∏—è
MEDV - –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≤ 1000 –¥–æ–ª–ª–∞—Ä–æ–≤.

In [ ]:
if tasks==8:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')